<?php
    $controllerClassName = get_class($this);
    $controllerUrlName = snake_case(class_basename( $controllerClassName ));
    $controllerParts = explode("\\", $controllerClassName, 3);
    array_pop($controllerParts);
    list( $owner, $plugin ) = array_map("strtolower", $controllerParts);
    $backendUrl = "{$owner}/{$plugin}/{$controllerUrlName}";
?>
<!-- Cancel -->
    <a class="btn btn-default oc-icon-chevron-left"
       href="<?= Backend::url($backendUrl) ?>">
        <?= e(trans('backend::lang.form.close')) ?>
    </a>

<!-- Save -->
    <a href="javascript:;"
       class="btn btn-primary oc-icon-ok save"
       data-request="onSave"
       data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
       data-request-before-update="$el.trigger('unchange.oc.changeMonitor')"
       <?php if ($this->formGetContext() == 'update'): ?>data-request-data="redirect:0"<?php endif ?>
       data-hotkey="ctrl+s"
       data-hotkey-mac="cmd+s">
        <i class="fa fa-save"></i> <?= e(trans('backend::lang.form.save')) ?>
    </a>

<?php if ($this->formGetContext() == 'update'): ?>
<!-- <?= e(trans('backend::lang.form.save_and_close')) ?> -->
    <a href="javascript:;"
       class="btn btn-primary oc-icon-ok save"
       data-request-before-update="$el.trigger('unchange.oc.changeMonitor')"
       data-request="onSave"
       data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>">
        <i class="fa fa-save"></i> <?= e(trans('backend::lang.form.save_and_close')) ?>
    </a>

<!-- Delete -->
    <button type="button"
            class="btn btn-default empty oc-icon-trash-o"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('backend::lang.relation.delete_confirm')) ?>"
            data-request-success=""
            data-control="delete-button">
    </button>

<!-- Create New -->
    <a href="<?= Backend::url($backendUrl . '/create') ?>"
       class="btn btn-default">
        <i class="fa fa-plus"></i>
        <?= e(trans("{$owner}.{$plugin}::lang.{$controllerUrlName}.create_title")) ?>
    </a>
<?php endif ?>
