.media {
  &.icn-selector {
    > .icn-container {
      width: 64px;
      height: 64px;
      line-height: 64px;
      overflow: hidden;
      background-color: #EEEEEE;
      margin-right: 10px;
      text-align: center;
    }
  }
}