<?php if($model->icons): ?>
    <?php if($model->stylesheet): ?>
    <style type="text/css">
        <?= $model->stylesheet ?>
    </style>
    <?php endif; ?>
    <section id="<?= $model->slug ?>" style="padding: 10px 20px">
        <h2>
            <?= $model->library ?>
            <br /><small><?= $model->path ?></small>
        </h2>
        <div class="loading-indicator-container">
            <button
                    class="btn btn-default oc-icon-trash-o"
                    disabled="disabled"
                    onclick="$(this).data('request-data', {checked: $('.<?= $model->slug ?>-icon-list').listWidget('getChecked')})"
                    data-request="onRemoveIcons"
                    data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
                    data-trigger-action="enable"
                    data-trigger=".<?= $model->slug ?>-icon-list input[type=checkbox]"
                    data-trigger-condition="checked"
                    data-request-success="$(this).prop('disabled', false); $.ocFeatures.init();"
                    data-stripe-load-indicator>
                <?= e(trans('backend::lang.list.delete_selected')) ?>
            </button>
        </div>
        <div class="row <?= $model->slug ?>-icon-list">
            <?php foreach($model->icons as $icon): ?>
            <div class="col-md-2 col-sm-3 text-center loading-indicator-container">
                <a class="btn btn-block btn-default" href="javascript://" data-control="check" data-check-toggle-class="btn-default btn-primary">
                    <h2 class="text-center"><i class="<?= $model->prefix ?> <?= $icon ?> icon-2x"></i></h2>
                    <h5 class="text-center"><?= ($model->prefix) ? preg_replace('/('.$model->prefix.'-(\w+))/', '\2', $icon) : $icon ?></h5>
                    <input type="checkbox" name="Icon[delete][]" value="<?= $icon ?>">
                </a>
            </div>
            <?php endforeach; ?>
        </div>
    </section>
<?php endif; ?>