<div data-control="toolbar">
    <a
        href="<?= Backend::url('planetadeleste/features/features/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('backend::lang.form.create_title', ['name' => trans('planetadeleste.features::lang.fields.feature')])) ?>
    </a>

    <a
        href="<?= Backend::url('planetadeleste/features/features/reorder') ?>"
        class="btn btn-primary oc-icon-sort">
        <?= e(trans('planetadeleste.features::lang.features.reorder_title')) ?>
    </a>

    <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {checked: $('.control-list').listWidget('getChecked')})"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', false)"
            data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
</div>