<div data-control="toolbar">
    <a class="btn btn-default oc-icon-chevron-left"
       href="<?= Backend::url('planetadeleste/features/features') ?>">
        <?= e(trans('backend::lang.form.return_to_list')) ?>
    </a>
</div>