<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('planetadeleste/features/features') ?>"><?= e(trans('planetadeleste.features::lang.app.name')) ?></a></li>
    <li><?= e(trans($this->pageTitle)) ?></li>
</ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>